<app-la-fome-toolbar></app-la-fome-toolbar>
<div class="card-form">
  <mat-card class="card-form">
    <mat-card-title class="title">
      Pedidos
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput [ngModel]="filtroDataInicial" type="date" (ngModelChange)="setDataInicial($event)" placeholder="Data Inicial">
      </mat-form-field>
      <mat-form-field>
          <input matInput [ngModel]="filtroDataFinal" type="date" (ngModelChange)="setDataFinal($event)" placeholder="Data Final">
        </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
<div *ngFor="let pedido of pedidos">
  <div class="card-form">
    <mat-card>
      <div *ngIf="pedido.status == 'Pendente'">
        <mat-card-actions>
          <button style="float: right; position: relative;" (click)="alterarStatusPedido(pedido.id, 4)" mat-raised-button color="warn">Reprovar</button>
          <button style="float: right; position: relative;" id="aprovar-button" (click)="alterarStatusPedido(pedido.id, 3)" mat-raised-button
            color="primary">Aprovar</button>
        </mat-card-actions>
      </div>
      <mat-card-title>
        Data do pedido: {{formataData(pedido.dataPedido)}}
      </mat-card-title>
      <mat-card-content>
        Forma de pagamento: {{pedido.formaPagamento}}
        <br> Descrição: {{pedido.descricao}}
        <br> Situação: {{pedido.status}}
        <br> Avaliação do restaurante: {{pedido.avaliacaoRestaurante}}
        <br> Forma de pagamento: {{pedido.formaPagamento}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="card-form">
  <button (click)="voltar()" style="float: right; position: relative" mat-raised-button>Voltar</button>
</div>