<app-la-fome-toolbar></app-la-fome-toolbar>
<div class="card-form">
  <mat-card class="card-form">
    <mat-card-title class="title">
      Pedidos
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput [ngModel]="filtroDataInicial" type="date" [(ngModel)]="filtroDataInicial" placeholder="Data Inicial">
      </mat-form-field>
      <mat-form-field>
        <input matInput [ngModel]="filtroDataFinal" type="date" [(ngModel)]="filtroDataFinal" placeholder="Data Final">
      </mat-form-field>
      <button id="filtrar-button" mat-raised-button (click)="buscarPedidos()">Filtrar</button>
      <span id="count-pedidos">Quantidade de pedidos: {{pedidos.length}}</span>
    </mat-card-content>
  </mat-card>
</div>
<div *ngFor="let pedido of pedidos">
  <div class="card-form">
    <mat-card>
      <div *ngIf="pedido.status == 'Pendente'">
        <mat-card-actions>
          <button style="float: right; position: relative;" (click)="alterarStatusPedido(pedido.id, 4)" mat-raised-button color="warn">Reprovar</button>
          <button id="aprovar-button" (click)="alterarStatusPedido(pedido.id, 3)" mat-raised-button color="primary">Aprovar</button>
        </mat-card-actions>
      </div>
      <mat-card-title>
        <b>[{{pedido.grupoCliente.nome}}] - {{pedido.cliente.nome}} {{pedido.cliente.sobrenome}}</b>
      </mat-card-title>
      <mat-card-content>
        <b>Data do pedido:</b> {{getDataPedido(pedido.dataPedido) | date: 'dd/MM/yyyy'}}
        <br> <b>Valor do pedido:</b> R$ {{pedido.valor}}
        <br> <b>Descrição:</b> {{pedido.descricao}}
        <br> <b>Situação:</b> {{pedido.status}}
        <br> <b>Forma de pagamento:</b> {{pedido.formaPagamento}}
        <br>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Endereço</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              - Logradouro: {{pedido.grupoCliente.endereco.logradouro}}
              <br>- Número: {{pedido.grupoCliente.endereco.numero}}
              <br>- Complemento: {{pedido.grupoCliente.endereco.complemento}}
              <br>- CEP: {{pedido.grupoCliente.endereco.cep}}
              <br>- Cidade: {{pedido.grupoCliente.endereco.cidade}}
              <br>- Estado: {{pedido.grupoCliente.endereco.estado}}
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Itens do pedido</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let item of pedido.itensPedido">
              <div *ngIf="item.quantidade > 0">
                - {{item.itemCardapio.nome}}
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="card-form">
  <button (click)="voltar()" style="float: right; position: relative" mat-raised-button>Voltar</button>
</div>