#aprovar-button {
    background-color: #1ca800;
    border-width: 1px;
    border-color: #1ca800;
    color: #ffffff;
    float: right; 
    position: relative;
}

#count-pedidos {
    float: right; 
    position: relative; 
    padding-top: 15px;
}

#filtrar-button {
    color: white;
    background-color: #cc0000;
}