<app-la-fome-toolbar></app-la-fome-toolbar>
<div class="card-form">
  <mat-card class="card-form">
    <mat-card-title class="title">
      Cardápios      
      <button (click)="novoCardapio()" style="float: right; position: relative" mat-raised-button color="warn">Novo cardápio</button>      
    </mat-card-title>    
  </mat-card>
</div>
<div *ngIf="inserting" class="card-form">
  <mat-card class="card-form">
    <mat-card-title>
      Novo cardápio
    </mat-card-title>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput [ngModel]="cardapio.dataCardapio" (ngModelChange)="cardapio.dataCardapio = $event" type="date" placeholder="Data Cardápio">
        </mat-form-field>    
        <mat-form-field>
          <input matInput [(ngModel)]="cardapio.valor" type="number" placeholder="Valor do prato">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <textarea matInput [(ngModel)]="cardapio.descricao" type="text" maxlength="300" placeholder="Descrição"></textarea>      
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-card-title>
          Itens Cardápio
        </mat-card-title>
        <mat-form-field style="width: 80%">
          <input matInput [(ngModel)]="nomeItemCardapio" maxlength="150" placeholder="Nome item"> 
        </mat-form-field>
        <button (click)="adicionarItemCardapio()" style="float: right; position: relative" mat-raised-button color="warn">Adicionar</button>
      </div>
      <mat-table #itemCardapioTable [dataSource]="itemCardapioTableList">
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let itemCardapio"> {{itemCardapio.nome}} </mat-cell>
         </ng-container>
         <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef> Excluir </mat-header-cell>
          <mat-cell *matCellDef="let excluir">
            <button (click)="deletarItemCardapio(itemCardapio)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>            
          </mat-cell>                      
        </ng-container>        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="final-table">        
        <div class="paginator">
          <mat-paginator #paginator [pageSize]="15" [showFirstLastButtons]="true"> </mat-paginator>
        </div>      
      </div>
    </mat-card-content>
    <div>
      <mat-card-actions>
        <button style="float: right; position: relative" (click)="salvarNovo()" mat-raised-button color="warn">Salvar</button>
        <button style="float: right; position: relative" (click)="cancelarNovo()" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
<div *ngFor="let cardapio of cardapios">
  <div class="card-form">
    <mat-card>
      <button style="float: right; position: relative" (click)="removerCardapio(cardapio)" mat-raised-button color="warn">Remover</button>
      <mat-card-title>      
        Data do cardápio: {{getDataCardapio(cardapio.dataCardapio) | date: 'dd/MM/yyyy'}}
      </mat-card-title>      
      <mat-card-content>
        <b>Valor do prato:</b> R$ {{cardapio.valor}}
        <br>
        <b>Descrição:</b> {{cardapio.descricao}}
        <br>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Itens do cardápio</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let itemCardapio of cardapio.itensCardapio">
                <br>{{itemCardapio.nome}}
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>     
    </mat-card>
  </div>
</div>
<div class="card-form">  
  <button (click)="voltar()" style="float: right; position: relative" mat-raised-button>Voltar</button>            
</div>