<app-la-fome-toolbar></app-la-fome-toolbar>
<div class="card-form">
  <mat-card class="card-form">
    <mat-card-title class="title">
      Cardápios      
      <button (click)="novoCardapio()" style="float: right; position: relative" mat-raised-button color="warn">Novo cardápio</button>      
    </mat-card-title>    
  </mat-card>
</div>
<div *ngIf="inserting" class="card-form">
  <mat-card class="card-form">
    <mat-card-title>
      Novo cardápio
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput [ngModel]="dataCardapio" (ngModelChange)="dataCardapio = $event" type="date" required placeholder="Data Cardápio">
      </mat-form-field>      
      <mat-form-field style="width: 100%">
        <textarea matInput [(ngModel)]="descricao" type="text" required placeholder="Descrição"></textarea>      
      </mat-form-field>
    </mat-card-content>
    <div>
      <mat-card-actions>
        <button style="float: right; position: relative" (click)="salvarNovo()" mat-raised-button color="warn">Salvar</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
<div *ngFor="let cardapio of cardapios">
  <div class="card-form">
    <mat-card>
      <mat-card-title>      
        Data do cardápio: {{formataData(cardapio.dataCardapio)}}
      </mat-card-title>
      <mat-card-content>
        Opções: {{cardapio.descricao}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="card-form">  
  <button (click)="voltar()" style="float: right; position: relative" mat-raised-button>Voltar</button>            
</div>