.inputs {
    width: 40%;
    padding-right: 5%;
}

.title-font {
    font-size: 150%;
}

.subtitle-font {
    font-size: 120%;
}

#adicionar-button {    
    background-color: #cc0000;
    color: white;
    font-style: bold;
    display:inline-block;
    margin-left: 20px;
}

#salvar-button {    
    float: right;
    background-color: #cc0000;
    color: white;
    font-style: bold;    
}

#cancelar-button {
    float: right;
}