<app-la-fome-toolbar></app-la-fome-toolbar>
<div class="card-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title title-font">Cadastro de Restaurante</mat-card-title>
    </mat-card-header>
    <div>
      <mat-card-content>
        <mat-form-field class="inputs">
          <input matInput [(ngModel)]="restaurante.razaoSocial" maxlength="150" required placeholder="Razão Social">
          <mat-error *ngIf="obterMensagemErro().RAZAO_SOCIAL">{{obterMensagemErro().RAZAO_SOCIAL}}</mat-error>
        </mat-form-field>      
        <mat-form-field class="inputs">
          <input matInput [(ngModel)]="restaurante.nomeFantasia" maxlength="150" required placeholder="Nome Fantasia">
          <mat-error *ngIf="obterMensagemErro().NOME_FANTASIA">{{obterMensagemErro().NOME_FANTASIA}}</mat-error>
        </mat-form-field>      
        <mat-form-field class="inputs">
          <input matInput (focus)="focusCNPJ($event)" (blur)="blurCNPJ($event)" [errorStateMatcher]="cnpjValidate" [textMask]="{mask: cnpjMask}" [(ngModel)]="restaurante.cnpj" required placeholder="CNPJ">
          <mat-error>{{obterMensagemErro().CNPJ}}</mat-error>
        </mat-form-field>      
        <br>
        <mat-form-field class="inputs">
          <input matInput [(ngModel)]="restaurante.endereco.logradouro" maxlength="255" required placeholder="Logradouro">
          <mat-error>{{obterMensagemErro().LOGRADOURO}}</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 10%; padding-right: 2%">
          <input matInput [(ngModel)]="restaurante.endereco.numero" type="number" placeholder="Número">               
        </mat-form-field>
        <mat-form-field style="width: 28%; padding-right: 5%">
          <input matInput [(ngModel)]="restaurante.endereco.complemento" maxlength="100" placeholder="Complemento">
        </mat-form-field>
        <mat-form-field class="inputs">
          <input matInput [(ngModel)]="restaurante.endereco.cidade" maxlength="150" required placeholder="Cidade">
          <mat-error>{{obterMensagemErro().CIDADE}}</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 28%; padding-right: 2%">
          <input matInput [(ngModel)]="restaurante.endereco.estado" maxlength="60" required placeholder="Estado">
          <mat-error>{{obterMensagemErro().ESTADO}}</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 10%; padding-right: 5%">
          <input matInput (focus)="focusCEP($event)" (blur)="blurCEP($event)" [errorStateMatcher]="cepValidate" [textMask]="{mask: cepMask}" [(ngModel)]="restaurante.endereco.cep" required placeholder="CEP">
          <mat-error>{{obterMensagemErro().CEP}}</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 20%; padding-right: 2%">
          <input matInput (focus)="focusTelefone($event)" (blur)="blurTelefone($event)" [errorStateMatcher]="telefoneValidate" [textMask]="{mask: phoneMask}" [(ngModel)]="restaurante.telefone" required placeholder="Telefone">          
          <mat-error>{{obterMensagemErro().TELEFONE}}</mat-error>
        </mat-form-field>      
      </mat-card-content>      
    </div>
    <br>    
    <mat-card-header>      
      <mat-card-title class="title subtitle-font">Logotipo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-file-upload [srcImageIn]="restaurante.logo_file" (srcImageOut)="restaurante.logo_file"></app-file-upload>
    </mat-card-content>
    <br>
    <mat-card-header>
      <mat-card-title class="title subtitle-font">Usuários *</mat-card-title>
    </mat-card-header>    
    <mat-card-actions>
      <button (click)="adicionarUsuario()" id="adicionar-button" mat-raised-button>
          Adicionar
      </button>        
    </mat-card-actions>    
    <mat-card-content class="table">
      <mat-table #usuariosTable [dataSource]="usuariosTableList">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="login">
          <mat-header-cell *matHeaderCellDef> Usuário </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.login}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="administrador">
          <mat-header-cell *matHeaderCellDef> Administrador </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> 
              <mat-icon *ngIf="usuario.administrador">check</mat-icon>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef> Excluir </mat-header-cell>
          <mat-cell *matCellDef="let usuario">
            <button (click)="deletarUsuario(usuario)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>            
          </mat-cell>                      
        </ng-container>        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="final-table">        
        <div class="paginator">
          <mat-paginator #paginator
            [pageSize]="5"                
            [showFirstLastButtons]="true">
          </mat-paginator>
        </div>      
      </div>
    </mat-card-content>
    <div class="buttons">    
      <mat-card-actions>
        <button (click)="salvarRestaurante()" id="salvar-button" mat-raised-button>Salvar</button>
        <button (click)="cancelar()" id="cancelar-button" mat-raised-button>Cancelar</button>              
      </mat-card-actions>
    </div>
  </mat-card>
</div>