/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: "Arial", sans-serif;      
}

.title {    
    font-family: "Arial", sans-serif;  
    font-weight: bold;  
    color: #cc0000;
}

.toolbar {
    background-color: #cc0000;
    color: white;
    font-weight: bold;    
}

.card-form {    
    padding: 1%;
}