<mat-toolbar class="toolbar">  
  <img width="48" height="48" src="./assets/marmita.png"/>
  La Fome
</mat-toolbar>
<div class="div-master">
  <mat-card class="card-restaurant">
    <mat-card-title class="card-title-restaurant">
      {{nomeFantasia}}
    </mat-card-title>
    <mat-card-content>
      {{nomeFantasia}}
    </mat-card-content>
  </mat-card>
  <br>
  <br>
  <mat-card>
    <mat-card-title class="title title-inicio">
      Meu Cadastro
    </mat-card-title>    
    <mat-card-content class="card-content">
      <img src="./assets/register.svg" style="width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar(1)" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title class="title title-inicio">
      Cardápio
    </mat-card-title>    
    <mat-card-content class="card-content">
      <img src="./assets/menu.svg" style="width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar(2)" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title class="title title-inicio">
      Pedidos
    </mat-card-title>    
    <mat-card-content class="card-content">
      <img src="./assets/order.svg" style="width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar(3)" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title class="title title-inicio">
      Relatório
    </mat-card-title>    
    <mat-card-content class="card-content">
      <img src="./assets/report.svg" style="width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar(4)" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
</div>