<mat-toolbar class="toolbar">  
  <img width="48" height="48" src="./assets/marmita.png"/>
  La Fome
</mat-toolbar>
<div>
  <mat-card>
    <mat-card-title class="title">
      Meu Cadastro
    </mat-card-title>
    <mat-card-content class="card-content">
      <img src="./assets/register.svg" style:"width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar()" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
</div>