<app-la-fome-toolbar></app-la-fome-toolbar>
<div class="div-master">
  <mat-card class="card-restaurant">  
    <div style="display: inline-flex">
      <div style="width: 70px">
        <img style="width: 50px; height: 50px" src={{restaurante.logo_file}}/>
      </div>
      <div>
        <mat-card-title class="card-title-restaurant">      
          {{restaurante.nomeFantasia}}
        </mat-card-title>
        <mat-card-content>
          {{restaurante.cnpj}}
        </mat-card-content>
      </div>
    </div>  
  </mat-card>
  <br>
  <br>
  <mat-card>
    <mat-card-title class="title title-inicio">
      Meu Cadastro
    </mat-card-title>    
    <mat-card-content class="card-content">
      <img src="./assets/register.svg" style="width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar(1)" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title class="title title-inicio">
      Cardápio
    </mat-card-title>    
    <mat-card-content class="card-content">
      <img src="./assets/menu.svg" style="width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar(2)" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title class="title title-inicio">
      Pedidos
    </mat-card-title>    
    <mat-card-content class="card-content">
      <img src="./assets/order.svg" style="width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar(3)" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title class="title title-inicio">
      Relatório
    </mat-card-title>    
    <mat-card-content class="card-content">
      <img src="./assets/report.svg" style="width: 128px; height: 128px"/>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="entrar(4)" id="meu-cadastro-button" class="buttons" mat-raised-button color="warn">Acessar</button>
    </mat-card-actions>
  </mat-card>
</div>